.h2-container {
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 25px 0 20px;
}
.h2-container h2 {
  font-size: 38px;
  line-height: 64px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: #000;
  color: #fff;
  padding: 6px 12px;
  display: inline;
}
@media only screen and (min-width: 48em) {
  .h2-container {
    margin-bottom: 40px;
    max-width: 75%;
    padding: 0;
  }
  .h2-container h2 {
    font-size: 44px;
    line-height: 72px;
    margin-left: -20px;
    padding: 6px 12px;
  }
}
.flip-card {
  height: 360px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  color: #fff;
  width: 100%;
  margin-bottom: 20px;
}
.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-card h2 {
  font-size: 20px;
  background: #000;
  display: inline-block;
  padding: 4px 10px 6px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 22px 0 0 20px;
}
.flip-card .flip-card-inner {
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}
.flip-card .flip-card-inner .front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip-card .flip-card-inner .front:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 30px solid #f1f1f1;
  border-left: 30px solid #bbb;
  -webkit-box-shadow: -6px 10px 10px -6px rgba(0, 0, 0, 0.5);
  box-shadow: -6px 10px 10px -6px rgba(0, 0, 0, 0.5);
}
.flip-card .flip-card-inner .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #ffebcd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
}
.flip-card .flip-card-inner .back p {
  line-height: 26px;
  cursor: default;
}
.flip-card .flip-card-inner .back p b {
  font-weight: 700;
}
.flip-card .flip-card-inner .back:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 30px solid #ecd7b6;
  border-left: 30px solid #f1f1f1;
}
@media only screen and (min-width: 48em) {
  .flip-card {
    width: 30%;
  }
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C""\201D""\2018""\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}
.row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}
.row,
.row.reverse {
  -webkit-box-orient: horizontal;
}
.row.reverse {
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.col.reverse,
.row.reverse {
  -webkit-box-direction: reverse;
}
.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  flex-direction: column-reverse;
}
.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
.col-xs {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.col-xs-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}
.col-xs-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}
.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.col-xs-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}
.col-xs-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}
.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.col-xs-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}
.col-xs-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}
.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.col-xs-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}
.col-xs-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}
.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.col-xs-offset-1 {
  margin-left: 8.333%;
}
.col-xs-offset-2 {
  margin-left: 16.667%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-4 {
  margin-left: 33.333%;
}
.col-xs-offset-5 {
  margin-left: 41.667%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-7 {
  margin-left: 58.333%;
}
.col-xs-offset-8 {
  margin-left: 66.667%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-10 {
  margin-left: 83.333%;
}
.col-xs-offset-11 {
  margin-left: 91.667%;
}
.start-xs {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}
.center-xs {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}
.end-xs {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}
.top-xs {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}
.middle-xs {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.bottom-xs {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}
.around-xs {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.first-xs {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}
.last-xs {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}
@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-sm {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-md {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-lg {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-lg {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-lg {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .between-lg {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-lg {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}
@-webkit-keyframes breathe-left {
  0% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes breathe-left {
  0% {
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes breathe-right {
  0% {
    -webkit-transform-origin: 0 40%;
    transform-origin: 0 40%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes breathe-right {
  0% {
    -webkit-transform-origin: 0 40%;
    transform-origin: 0 40%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rain {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes rain {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes umbrella {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes umbrella {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes characters {
  0% {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes characters {
  0% {
    -webkit-transform: translateY(160px);
    transform: translateY(160px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes headline {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes headline {
  0% {
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
body {
  font-family: Roboto, sans-serif;
}
p {
  color: #666;
  line-height: 2;
  font-size: 0.9em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
}
.btn {
  cursor: pointer;
  display: inline-block;
  width: 310px;
  height: 52px;
  text-align: center;
  border: 1px solid #fff;
  line-height: 52px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  background-color: transparent;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.6);
}
.btn.btn-white {
  background: #fff;
  color: #000;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.btn.btn-white:hover {
  opacity: 0.8;
}
.uppercase {
  text-transform: uppercase;
}
.jarallax {
  position: relative;
  z-index: 0;
  min-height: 70vh;
}
.jarallax > .jarallax-img {
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.jarallax img {
  width: 100%;
}
.hero {
  height: 154vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #fff;
}
.hero,
.hero .hero-bg {
  width: 100%;
  overflow: hidden;
}
.hero .hero-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64vh;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero .umbrella-bg {
  position: absolute;
  bottom: -1px;
  right: 0;
  height: 56vh;
  width: 100%;
  background: url(../../img/umbrella-academy/umbrella.svg) no-repeat bottom/90%
    auto;
}
.hero .characters-bg {
  background: url(../../img/umbrella-academy/mob/umbrella-characters.png)
    no-repeat bottom/80% auto;
  height: 100%;
  position: absolute;
  width: 100%;
}
.hero .rain-line {
  background: url(../../img/umbrella-academy/line.png) repeat-y;
  width: 18px;
  height: 100%;
  background-size: 6px auto;
  -webkit-animation-name: rain;
  animation-name: rain;
}
.hero .rain-line.rain-line-no-animate {
  -webkit-animation: none;
  animation: none;
}
.headline {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 90vh;
  background: #fff;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.headline h1 {
  font-size: 22px;
  line-height: 42px;
  margin: 20px auto 30px;
  width: 90%;
}
.headline h1 span {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background: #000;
  color: #fff;
  padding: 6px 10px;
}
.headline h1 img {
  display: block;
  margin: 0 auto 24px;
  width: 100%;
  max-width: 500px;
}
.headline h3 {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}
.headline h3 a:hover img {
  opacity: 0.7;
}
.headline h3 img {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  margin: 8px auto 16px;
  max-width: 60%;
  display: block;
}
.headline h3 .netflix {
  width: 150px;
}
@media only screen and (min-width: 48em) {
  .hero {
    height: 100%;
    height: 100vh;
    max-height: 100vh;
  }
  .hero .hero-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .umbrella-bg {
    position: absolute;
    bottom: -1px;
    width: 68%;
    background: url(../../img/umbrella-academy/umbrella.svg) no-repeat
      bottom/90% auto;
    height: 200vh;
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    -webkit-animation-name: umbrella;
    animation-name: umbrella;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    max-width: 102vh;
  }
  .hero .characters-bg {
    background: url(../../img/umbrella-academy/umbrella-characters.png)
      no-repeat bottom/80% auto;
    -webkit-animation-name: characters;
    animation-name: characters;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    width: 100%;
  }
  .headline,
  .hero .characters-bg {
    height: 100%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    position: absolute;
  }
  .headline {
    width: 33%;
    -webkit-transform: translatex(-100vw);
    transform: translatex(-100vw);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation-name: headline;
    animation-name: headline;
    -webkit-animation-duration: 2.7s;
    animation-duration: 2.7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1;
  }
  .headline h1 {
    width: 100%;
    font-size: 25px;
    line-height: 46px;
    text-align: center;
  }
}
.family {
  padding: 30px 0;
  background: #f1f1f1;
}
.family .container-cards {
  padding: 0 20px 40px;
}
.family .flip-card-one .front {
  background: url(../../img/umbrella-academy/1-nacimiento.jpg) no-repeat 50% /
    cover;
}
.family .flip-card-two .front {
  background: url(../../img/umbrella-academy/2-adopcion.jpg) no-repeat 50% /
    cover;
}
.family .flip-card-three .front {
  background: url(../../img/umbrella-academy/3-reencuentro.jpg) no-repeat 50% /
    cover;
}
.family .chronology {
  padding: 0 20px;
  margin-bottom: 60px;
}
.family .chronology h4 {
  margin-bottom: 10px;
}
@media only screen and (min-width: 48em) {
  .family {
    padding: 100px 0;
  }
  .family .container-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 80px;
    padding: 0;
  }
  .family .chronology {
    padding: 0;
  }
}
.umbrella-fixed {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
}
.umbrella-fixed .container-600 {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.umbrella-fixed .trailer iframe {
  margin: 40px 0 -45px;
  max-width: 100%;
  text-align: center;
}
.umbrella-fixed p {
  padding: 0 20px;
}
@media only screen and (min-width: 48em) {
  .umbrella-fixed {
    padding: 100px 0;
  }
  .umbrella-fixed p {
    padding: 0;
  }
  .umbrella-fixed .trailer {
    text-align: center;
    margin: 40px 0;
  }
}
.actors {
  padding: 40px 0 0;
  background: #f1f1f1;
}
.actors .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.actors .container-actor-cards {
  padding: 0 20px;
}
.actors .flip-card-one .front {
  background: url(../../img/umbrella-academy/1.jpg) no-repeat 0 / cover;
}
.actors .flip-card-two .front {
  background: url(../../img/umbrella-academy/2.jpg) no-repeat 0 / cover;
}
.actors .flip-card-three .front {
  background: url(../../img/umbrella-academy/3.jpg) no-repeat 0 / cover;
}
.actors .flip-card-four .front {
  background: url(../../img/umbrella-academy/4.jpg) no-repeat 0 / cover;
}
.actors .flip-card-five .front {
  background: url(../../img/umbrella-academy/5.jpg) no-repeat 0 / cover;
}
.actors .flip-card-seven .front {
  background: url(../../img/umbrella-academy/7.jpg) no-repeat 0 / cover;
}
.actors .container-bio {
  margin-top: 40px;
  padding: 0 36px;
}
.actors .container-bio h4 {
  margin-bottom: 0;
}
.actors .container-bio .bio {
  margin-bottom: 40px;
}
@media only screen and (min-width: 48em) {
  .actors {
    padding: 100px 0;
  }
  .actors .container {
    margin-bottom: 40px;
  }
  .actors .container-actor-cards {
    padding: 0;
  }
  .actors .container-bio {
    margin-top: 80px;
    padding: 0;
  }
}
.comic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.comic .h2-container {
  max-width: none;
}
.comic .comic-slider {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
}
.comic .comic-slider img {
  max-height: calc(100vh - 240px);
  border: 1px solid;
}
.comic .comic-slider .glide__slides {
  margin-top: 0;
}
.comic .comic-slider .glide__arrow {
  width: 60px;
  height: 40px;
  border: 0;
  background: url(../../img/umbrella-academy/arrow.svg) no-repeat 50%/25px #000;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.comic .comic-slider .glide__arrow:hover {
  background-color: #333;
}
.comic .comic-slider .glide__arrow:focus {
  outline: 0;
}
.comic .comic-slider .glide__arrow.glide__arrow--left {
  background-image: url(../../img/umbrella-academy/arrow2.svg);
}
.comic .comic-description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
}
.comic .comic-description .h2-container {
  padding: 0;
}
.comic-characters {
  padding: 0 0 40px;
  background: #fff;
  overflow-y: hidden;
}
.comic-characters img {
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .comic {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 100px 0 40px;
  }
  .comic .comic-slider {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    width: 50%;
  }
  .comic .comic-description {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 45%;
  }
}
.showrunner {
  padding: 40px 0;
  background: #f1f1f1;
}
.showrunner p {
  padding: 0 20px;
}
.showrunner .showrunner-image {
  text-align: center;
  padding: 0 20px;
  display: inline-block;
}
.showrunner .showrunner-image img {
  max-width: 720px;
  width: 100%;
}
@media only screen and (min-width: 48em) {
  .showrunner {
    padding: 100px 0;
  }
  .showrunner p {
    padding: 0;
  }
  .showrunner .showrunner-image {
    padding: 20px 30px;
    float: right;
  }
}
.zigzag {
  padding: 40px 0;
  background: #fff;
}
.zigzag .container > p {
  padding: 0 20px;
}
.zigzag .zigzag-row {
  margin-top: 40px;
  padding: 0 40px;
}
.zigzag .zigzag-row img {
  width: 100%;
}
.zigzag .zigzag-row .col-img {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  margin-bottom: 20px;
}
.zigzag .zigzag-row .col-text {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@media only screen and (min-width: 48em) {
  .zigzag {
    padding: 100px 0;
  }
  .zigzag .container > p {
    padding: 0;
  }
  .zigzag .zigzag-row {
    margin-top: 80px;
    padding: 0;
  }
  .zigzag .zigzag-row .col-img {
    margin-bottom: 0;
  }
  .zigzag .zigzag-row .col-img,
  .zigzag .zigzag-row .col-text {
    -webkit-box-ordinal-group: initial;
    -ms-flex-order: initial;
    order: 0;
  }
}
.spotify {
  padding: 100px 0 160px;
  background: #f1f1f1;
  background: url(../../img/umbrella-academy/hello.jpg) no-repeat bottom #f1f1f1;
}
.spotify iframe {
  width: 100%;
  height: 60vh;
}
.social {
  padding: 60px;
  background: #f1f1f1;
}
.social ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding: 0;
}
.social ul li {
  margin: 0;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.social ul li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
footer {
  background: #252525;
  color: #fff;
  padding: 60px 0 40px;
  text-align: center;
}
footer img {
  max-width: 300px;
}
footer p {
  font-size: 14px;
}
body {
  background: url(../../img/umbrella-academy/umbrella-fixed.svg) no-repeat #fff;
  background-attachment: fixed;
  background-size: 240px;
  background-position: 98% 98%;
}
section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
}
p {
  font-size: 18px;
  line-height: 30px;
}
a {
  color: #000;
  font-style: italic;
}
h4 {
  color: #fff;
  background: #000;
  display: inline-block;
  padding: 6px 10px;
  font-size: 24px;
  margin: 0 0 20px;
}
