header {
  padding: 20px;
  position: sticky;
  top: 0;
  background: #061930;
}

header a {
  display: flex;
  justify-content: center;
}

img.logo.logo-dark {
  max-width: 215px;
}

.open {
  position: relative;
}
.open .subtitle {
  display: none;
}

.open img {
  width: 100%;
}

.large,
.square {
  background-position: center;
  position: relative;
  min-height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.large .block-text,
.square .block-text,
.open .block-text {
  position: absolute;
  top: 0;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 21px;
}

.open .block-text {
  top: inherit;
  bottom: 0;
}
.open .subtitle {
  font-size: 20px;
  line-height: 25px;
}

.large .block-text p,
.square .block-text p,
.open p {
  font-size: 25px;
  line-height: 34px;
  font-family: "Roboto Regular";
  padding: 0 20px;
}

@media only screen and (min-width: 60em) {
  .open .subtitle {
    display: block;
  }

  .contain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .large {
    width: 100%;
  }

  .square {
    width: 49.5%;
  }

  .large .block-text p,
  .square .block-text p,
  .open p {
    font-size: 25px;
    line-height: 34px;
    font-family: "Roboto Regular";
  }
}
@media only screen and (min-width: 75em) {
  .large,
  .square {
    min-height: 460px;
  }
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/robotoslab-regular.eot");
  src: url("../fonts/robotoslab-regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/robotoslab-regular.woff2") format("woff2"),
    url("../fonts/robotoslab-regular.woff") format("woff"),
    url("../fonts/robotoslab-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
